body {
  list-style: none;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

input {
  width: 400px;
  margin: 5px;
}

.container {
  background-color: lightgrey;
  position: relative;
  width: 100%;
}

.center {
  margin: 0 auto;
  width: 500px;
  color: lightgrey;
}

.chat-box {
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
  padding: 10px;
  border: 2px solid grey;
  height: 300px;
/*  overflow: auto;*/
}
.ul-messages {
  max-height: 100%;
  overflow: auto;
}

.input-form {
}

#message-field {
  background-color: white;
  color: grey;
}

.message-input {
  position: absolute;
  width: 500px;
  left: 5px;
  top: 330px;
}

.users-list {
  min-height: 300px;
  padding: 10px;
  width: 200px;
  position: absolute;
  display: inline-block;
  left: 530px;
  top: 5px;
  border: 2px solid grey;
  background-color: black;
  color: grey;
}

.hints {
  position: absolute;
  color: grey;
  background-color: black;
  top: 360px;
  left: 5px;
  padding: 5px;
}